<%- include('../partials/header') %>
<% for (let i = 0; i < user.length; i++) { %>
    <div class="container col-md-10">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/user/<%= user[i].id %>">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">New Goal</li>
            </ol>
          </nav>
        <div class="card border border-secondary  rounded-3 my-4 shadow">
            <div class="card-body">
                 <h2 class="my-2 text-center"><%= user[i].name %>'s Goal</h2>
                <form action="/goals/new/<%= user[i].id %>" method="POST" class="d-grid gap-2 mx-md-5">
                    <div class="form-group my-3">
                        <label for="title" class="form-label"><h6>Goal</h6></label> 
                        <input type="text" name="title" id="title" class="form-control" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="category" class="form-label"><h6>Category</h6></label>
                        <select class="form-select" name="category">
                            <option value=" ">What category does your goal fall under?</option>
                            <option value="Personal">Personal</option>
                            <option value="Family">Family</option>
                            <option value="Career">Career</option>
                            <option value="Academics">Academics</option>
                            <option value="Finance">Finance</option>
                          </select>
                    </div>

                    <div class="form-group mb-4">
                        <label for="duration" class="form-label"><h6>Duration</h6></label>
                        <div class="row">
                            <div class="col">
                                <input class="form-control" type="text" data-format="dd/mm/yyyy" id="startDate" name="startDate" placeholder="Start" required/>
                            </div>
                            <div class="col-md-auto d-none d-sm-block">-</div>
                            <div class="col">
                                <input class="form-control" type="text" data-format="dd/mm/yyyy" id="endDate" name="endDate" placeholder="End" required/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label for="description" class="form-label"><h6>Description</h6></label>
                        <i class="fa fa-question-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="Why do you need to achieve goal, how does achieving this goal help you and how will you describe it's success?" style="color:#0062CC"></i>
                            <textarea type="text" name="description" id="description" class="form-control"></textarea>
                    </div>

                    <div class="form-group mb-4">
                        <label for="resources" class="form-label"><h6>Resources</h6></label>
                        <i class="fa fa-question-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="What tools or resources do you need to achieve this goal?" style="color:#0062CC"></i>
                        <textarea type="text" name="resources" id="resources" class="form-control"></textarea>
                    </div>

                    <div class="form-group mb-4">
                        <label for="reward" class="form-label"><h6>Reward</h6></label>
                        <i class="fa fa-question-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="Reward yourself for achieving this goal" style="color:#0062CC"></i>
                        <textarea type="text" name="reward" id="reward" class="form-control"></textarea>
                    </div>

                    <div class="d-flex justify-content-end mb-3">
                        <a  href="/user/<%= user[i].id %>" class="btn btn-secondary rounded-pill me-3">Cancel</a>
                        <button type="submit" class="btn btn-primary rounded-pill">Next</button>
                    </div>
                </form>
            </div>
        </div>
    </div> 
    <% } %>
<%- include('../partials/footer') %>